.appbar-logo-link {
    display: flex;
    align-items: center;
}

.main-logo {
    height: 2.8rem;
    width: auto;
    max-width: 200px;
    object-fit: contain;
}

.main-logo:hover {
    opacity: 0.8;
}

.content {
    padding: 1.1rem 2rem !important;
}

@media (max-width: 640.98px) {
    .content {
        padding: 1rem !important;
    }
}