@page "/scrum-board"
@inject HttpClient Http
@inject IDialogService DialogService

<div class="swimlane-page">
    <MudContainer MaxWidth="MaxWidth.False" Class="pa-0">
        <SwimLanes @ref="_swimLanes"
                   DefaultToLatestSprint
                   OnPbiSelected="OpenPbiDetails" />
    </MudContainer>
</div>

@code {
    private SwimLanes? _swimLanes;

    private async Task OpenPbiDetails(ProductBacklogItem pbi)
    {
        var parameters = new DialogParameters<PbiDetailsDialog>
        {
            { x => x.Pbi, pbi },
            { x => x.OnSave, EventCallback.Factory.Create<ProductBacklogItem>(this, HandlePbiSave) },
            { x => x.OnDelete, EventCallback.Factory.Create<int>(this, HandlePbiDelete) }
        };

        var options = new DialogOptions
        {
            MaxWidth = MaxWidth.Large,
            FullWidth = true,
            CloseButton = true,
            CloseOnEscapeKey = true
        };

        var dialog = await DialogService.ShowAsync<PbiDetailsDialog>("PBI Details", parameters, options);
        await dialog.Result;
        if (_swimLanes is not null)
            await _swimLanes.RefreshAsync();
    }

    private async Task HandlePbiSave(ProductBacklogItem pbi)
    {
        try
        {
            var response = await Http.PutAsJsonAsync("api/Pbi", pbi);
            if (!response.IsSuccessStatusCode)
                Console.WriteLine($"Error updating PBI: {response.StatusCode}");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error updating PBI: {ex.Message}");
        }
    }

    private async Task HandlePbiDelete(int pbiId)
    {
        if (_swimLanes is not null)
            await _swimLanes.RefreshAsync();
    }
}
